h1{
    font-size: 2.5rem;
    margin-top: 56px;
}
mat-card{
    margin:10px;
    border: solid 1px lightgrey;
}
.mat-card-title{
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
mat-card-title .stars{
    align-items: flex-end;
}
.repository :hover{
    text-decoration: underline;
    cursor: pointer;
}
.language-color{
    border-radius: 3px;
    padding: 1px 4px 1px 4px;
}
.mat-card-header-text {
    display: none;
}
nav a :active{
    border-bottom: 1px;
}
