<h1>Saved</h1>

<mat-card class="example-card" *ngFor="let repository of (repositories$ | async)" >
        <div class="mat-card-title">
            <div class="repository"  (click)=onSelect(repository)>  
                <a class="rep-aurhor">{{repository.author}}/{{repository.name}}</a> 
            </div>
            <div>
                <a class="stars"><mat-icon>star</mat-icon>{{repository.stars}}</a>
            </div> 
        </div>
    <mat-card-content>
                  <p>{{repository.description}}</p>      
    </mat-card-content>
    <mat-card-actions>
            <a class="language-color" [style.background-color]="repository.languageColor">{{repository.language}}</a><a class="remove-button" (click)="deleteSavedRepo(repository)"> Remove Repository</a>
    </mat-card-actions>
</mat-card>
